<form action="/search_in/" method="get">
<p>&nbsp;</p>
<p>&nbsp;</p>
<table style="height: 74px;" width="618">
<tbody>
<tr>
<td style="width: 100px;">&nbsp;</td>
<td style="width: 100px;">&nbsp;</td>
<td style="width: 176px;">&nbsp;</td>
<td style="width: 104px;">&nbsp;&nbsp;
<p><input name="q1" type="text" /></p>
</td>
<td style="width: 104px;">&nbsp;بحث موضوع</td>
</tr>
<tr>
<td style="width: 100px;">&nbsp;</td>
<td style="width: 100px;">&nbsp;</td>
<td style="width: 147px; padding-left: 30px;">&nbsp;</td>
<td style="width: 104px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 100px;">&nbsp;</td>
<td style="width: 100px;">&nbsp;</td>
<td style="width: 176px;">&nbsp;</td>
<td style="width: 104px;">&nbsp;</td>
<td style="width: 104px;">&nbsp;
<p><input type="submit" value="Search" /></p>
</td>
</tr>
</tbody>
</table>
</form>